html{
    background-color: lightslategray;
    font-family:monospace;
}
#container{
    margin:auto;
    width:70%;
    border-radius: 20px;
    text-align: center;
    background-color: lightgray;
    height: 96vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    box-shadow: 0 0 4px 0px darkgrey;
}