{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <title>TicTacToe</title>
</head>
<body>
    <div id="container">
        <h1> Tic Tac Toe</h1>
        <div id="leaderboard">
            <div id="teamX">TEAM X <br>
                <span id="Xscore">0</span>
            </div>           
            <span id="vs"> VS </span>
            <div id="teamO">TEAM O <br>
                <span id="Oscore">0</span>
            </div>
        </div>
        <table cellspacing="0">
            <tr>
                <td id="lt" class="HTop VLeft Diag1"></td>
                <td id="ct" class="HTop VCenter"></td>
                <td id="rt" class="HTop VBottom Diag2"></td>
            </tr>
            <tr>
                <td id="lc" class="HCenter VLeft"></td>
                <td id="cc" class="HCenter VCenter Diag1 Diag2"></td>
                <td id="rc" class="HCenter VBottom"></td>
            </tr>
            <tr>
                <td id="lb" class="HBottom VLeft Diag2"></td>
                <td id="cb" class="HBottom VCenter"></td>
                <td id="rb" class="HBottom VBottom Diag1"></td>
            </tr>
        </table>
        <span id="winner"></span><br>
        <button id="start" onClick="">Start</button>
        <button id="restart" onClick="window.location.reload()">Restart</button>
        <button id="next" onClick="addpoint()">Next</button>
        <script type="text/javascript" src="{% static 'js/TTTlogic.js' %}"></script>
    </div>
</body>
</html>